<div class="container ">
    <img src="/images/tamgiac.png" class="d-flex justify-content-center mt-4">
    <h4><strong>Cạnh đáy a=</strong> {{a}}</h4>
    <h4><strong>Chiều cao h=</strong> {{b}}</h4>
    <h1><strong>Diện tích =</strong>(a*h)/2 ={{dientich}}</h1>
</div>
